h1{
    text-align: center;
}
h1{font-size: 50px;}
body{
    background-image: url("background.jpg") ;
}
li{ 
    font-size: 40px;
}
img {
    display: inline;
    width: 10%;
}
ol{
    display: flex;
    justify-content: space-around;
}

.logo{
    display: flex;
    justify-content: center;
}

nav{
    background-color: papayawhip;
}
h2 {
    font-size: 35px;
}
h2 {
    background-color: papayawhip;
    padding: 35px;
}
h3 {
    background-color: papayawhip;
    padding: 35px;
    font-size: 35px;
    text-align: end;
}
h4 {
    background-color: papayawhip;
    padding: 35px;
    font-size: 35px;
}
    

